:root {
  --grad1: #375BD4;
  --grad2: #38DCB8;
  --grad3: #001E3F;
  --grad4: #3A6367;
  --grad5: white;
  --grad6: #005F6E;
  --grad7: #001184;
  --grad8: #00024A;
  --grad9: #4E1506;
  --text-gray: #ddd;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  transition: all ease 0.5s;
  box-sizing: border-box;
  /*font-family: 'Dosis', sans-serif;*/
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-shadow: 1px 1px 5vh rgba(240, 240, 240, 0.8);
  width: 100%;
  background-image: linear-gradient(125deg, var(--grad1), var(--grad2));
  background-image: url('../img/17545.jpg');
  background-size: contain;
  background-repeat: repeat-y;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 2vh 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgb(10, 10, 10);
  color: white;
  box-shadow: black 1vh 1vh 1vh;
}

.big-text {
  font-size: 4.5vh;
}

.logo-small {
  height: 0;
  vertical-align: middle;
}

.logo {
  width: 10%;
}

.inlined {
  display: inline;
}

/* inline all elements inside any parent */
.inlined * {
  display: inline;
}

ul.nav-links {
  float: right;
  margin: 0 5vh;
}

ul.nav-links li {
  display: inline;
  margin: 0 2vh 0 0;
  border-radius: 0 0 2vh 0;
  padding: 1.5vh;
}

ul.nav-links li.selected {
  background-color: white;
  color: rgb(10, 10, 10);
}

ul.nav-links li:hover {
  transform: translateY(1vh);
  background-color: crimson;
  box-shadow: rgb(20, 20, 20) 0.5vh 0.5vh 1vh;
  padding: 2vh;
  cursor: pointer;
}

.transparent-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(10, 10, 10, 0.4);
  padding: 2vh 0.5vw;
}

.cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
}

#div1 {
  margin: 7vh 0 0 0;
  background-image: url('../img/MainBackground.jpg');
  /* background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg'); */
}

.intro-content {
  padding: 20vh 0 40vh 0;
  color: white;
  text-align: center;
  font-weight: bold;
}


#div2 {
  /* TODO: Implement background image */
  /* background-image: url('../img/background1_right.svg'); */
  background-image: linear-gradient(125deg, var(--grad3), var(--grad4));
}

#div3 {
  /* TODO: Implement background image */
  /* background-image: url('../img/background2_left.svg'); */
  background-image: linear-gradient(125deg, var(--grad5), var(--grad5));
}

#div3 .round-button {
  color: black;
  border-color: black;
}

#div3 .round-button:hover {
  color: white;
  border-color: black;
  background-color: black;
}

#div4 {
  /* TODO: Implement background image */
  /* background-image: url('../img/office.jpg'); */
  /* background-image: url('../img/background1_right.svg'); */
  background-image: linear-gradient(125deg, var(--grad7), var(--grad6));
}

#div5 {
  /* */
  /* TODO: Implement background image */
  /* background-image: url('../img/background2_left.svg'); */
  background-image: linear-gradient(125deg, var(--grad5), var(--grad5));
}

#div6 {
  background-image: linear-gradient(125deg, var(--grad8), var(--grad9));
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

.main-flex:nth-child(even) .title {
  /* border-bottom: 3px solid black; */
  color: black;
}

.main-flex:nth-child(even) .text {
  color: grey;
}

.main-flex:nth-child(odd) .text {
  color: var(--text-gray);
}

.main-container {
  padding: 5% 5% 10% 5%;
  width: 100%;
  color: white;
  position: relative;
}

.main-container .title {
  font-size: 5vh;
  /* border-bottom: 3px solid white; */
  display: inline-block;
  font-weight: bold;
}

.main-container .text {
  margin: 5vh 0;
  font-size: 3vh;
  line-height: 5vh;
  width: 50%;
}

.main-container-logo {
  width: 30%;
  float: right;
  position: absolute;
  top: 10%;
  left: 55%;
}

.show-case {
  width: 100%;
  background-color: red;
}

/* hide card scroll bar Webkit*/
.main-container::-webkit-scrollbar {
  display: none;
}

.abs {
  position: relative;
  top: 10%;
}

.round-button {
  margin: 5vh;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 1vh 2vh;
  border: solid 0.2vh white;
  border-radius: 500px;
}

.round-button:hover {
  transform: translateY(1vh);
  box-shadow: rgba(200, 200, 200, 0.2) 1vh 1vh 3vh;
  background-color: rgb(255, 255, 255);
  color: black;
}

.vector-image {
  width: 40%;
}

.footer-info {
  margin: 1vh 10vw;
  width: 100%;
  padding: 5vh 5vw;
  color: crimson;
}

.footer-contact {
  float: left;
  border-right: 2px solid white;
  display: inline;
}

.footer-title {
  font-size: 3vh;
  font-weight: bold;
}

/*-----------Social media Icons----------*/

#user-info {
  padding: 0px;
  z-index: 100;
}

.social-icons {
  top: 50%;
  transform: translate();
  position: sticky;
  z-index: 1;
  width: 80px;
}

.social-icons ul {
  padding: initial;
}

.social-icons ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;
  color: #fff;
  background: #000;
}

.social-icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
}

#user-info {
  margin-top: -18.7em;
}

/*---------Adding Google Map Style-----------*/

.mapouter iframe {
  width: 100%;
  height: 100%;
}


.mapouter {
  position: relative;
  text-align: right;
  /* height:100%;
	width:100%; */
}

.mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  /* widows: 1900; */
  width: 99.6%;
  margin: 5px;
  border: dotted;
  pointer-events: none;
}

.tab-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: inherit;
  overflow-x: scroll;
  padding: 5vh 4vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  font-size: 2.5vh;
  float: left;
}

.tab-card-container::-webkit-scrollbar {
  display: none;
}


.tab-card {
  position: relative;
  height: 100%;
  min-width: 25vw;
  background-color: rgb(250, 250, 250);
  box-shadow: black 0 0.2vh 5px;
  border-radius: 20px;
  margin: 0 4vw;
  color: white;
  overflow: hidden;
  background-color: black;
  background-position: center;
}

.tab-card:hover {
  transform: translateY(10px);
  box-shadow: black 0 1vh 20px;
}

.card-title {
  font-size: 3.5vh !important;
  margin-bottom: 1vh !important;
}

.card-title:before {
  color: white !important;
  background: white !important;
}

.card-ico {
  font-size: 5vh !important;
}

.card-description {
  font-size: 1.8vh;
}

.card-button {
  padding: 1vh 2vw;
  background-color: crimson;
  border-radius: 500px;
  color: white;
  font-weight: bold;
  position: absolute;
  width: 50%;
  max-height: 10%;
  top: 85%;
  left: 25%;
  box-shadow: black 0 2px 10px;
}

.card-button:hover {
  box-shadow: black 0 5px 10px;
  transform: translateY(5px);
}

.card-button:active {
	transform: translateY(-5px);
}

#web-card {
  background-image: url('https://cdn.pixabay.com/photo/2019/01/30/07/45/web-3963945_960_720.jpg');
}

#mobile-card {
  background-image: url('https://cdn.pixabay.com/photo/2015/05/29/10/32/ux-789160_960_720.jpg');
}

#seo-card {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_960_720.jpg');
}

.window {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-window {
  border-radius: 15px;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.window-head {
  font-size: 3vh;
  padding: 1vh 0;
  background-color: black;
  color: white;
  font-weight: bold;
}

.close {
  font-size: 2.7vh;
  color: red;
  float: right;
  margin-right: 2vw;
  border-radius: 500px;
}

.tab-show {
  animation: show-tab 1s;
  display: block;
}

.tab-hidden {
  animation: hide-tab 1s;
  display: none;
}

@keyframes show-tab {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hide-tab {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* optimizing a bit for mobile devices */
@media only screen and (max-width: 670px) {
  .cover {
    margin: 0 1vh;
    height: 80vh;
  }

  #div1 {
    height: 100vh;
  }

  .tab-card {
    min-width: 90vw;
  }

  .tab-card-container {
    padding: 5vh 1vw;
  }

  .nav-links {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .vector-image {
    display: none;
  }

  .main-container {
    width: 95%;
    padding: 0 3vw;
  }

  .right {
    float: none;
    margin: 0;
  }

  .left {
    float: none;
    margin: 0;
  }

  .dropped-card {
    background-image: linear-gradient(125deg, var(--grad1), var(--grad2));
    transform: translateY(1.5vh);
    box-shadow: rgba(0, 0, 0, 0.2) 1vh 1vh 3vh;
    color: white;
  }

  .dropped-card:hover {
    background-image: linear-gradient(125deg, var(--grad1), var(--grad2));
  }
}