* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	border: none;
	outline: none;
	transition: all ease 0.5s;
	/*font-family: 'Dosis', sans-serif;*/
}

body {
	background-color: rgba(240, 240, 240);
	text-shadow: 1px 1px 5vh grey;
}

a {
	text-decoration: none;
	color: white;
}

.navbar {
	padding: 5vh 5vh 5vh 1vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgb(10, 10, 10);
	color: white;
	font-weight: bold;
	box-shadow: black 1vh 1vh 1vh;
}

.big-text {
	font-size: 5vh;
}

/* remove this if there's some problem in future (-_-) */


.inlined {
	display: inline;
}

/* inline all elements inside any parent */
.inlined * {
	display: inline;
}

ul.nav-links {
	float: right;
}

ul.nav-links li {
	display: inline;
	margin: 0 5vh 0 0;
	border-radius: 1vh;
	padding: 1vh;
}

ul.nav-links li.selected {
	background-color: rgb(50, 205, 50);
}

ul.nav-links li:hover {
	background-color: white;
	color: rgb(10, 10, 10);
	box-shadow: rgb(20, 20, 20) 0.5vh 0.5vh 1vh;
	padding: 1.4vh;
	cursor: pointer;
}

.cover {
	width: 100%;
	height: inherit;
	background-color: rgba(10, 10, 10, 0.8);
}

.cover-image {
	width: 100%;
	background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825_1280.jpg');
	background-size: cover;
	margin: auto;
	z-index: -1;
	margin: 15vh 0 0 0;
}

.cards {

}

.intro-content {
	padding: 20vh 0 40vh 0;
	color: white;
	text-align: center;
	font-weight: bold;
}

.info-card {
	background-image: linear-gradient(125deg, rgb(20, 210, 70), rgb(50, 105, 50));
	padding: 5vh 0;
	border-radius: 2vh;
	overflow-wrap: normal;
	margin: 5vh;
	width: 30%;
	display: inline-block;
	box-shadow: black 0.5vh 0.5vh 1vh;
}

.info-card:hover {
	padding: 7vh 0;
	
}

.info-card * {
	
}

.card-title {
	font-size: 5vh;
	text-decoration: underline;
	font-weight: bold;
}

.card-contents {
	font-size: 3vh;
	display: inline;
	margin: 2vh;
}

.main-content {
	margin: 10vh 0;
	text-align: center;
}

.main-title {
	padding: 1vh;
	text-decoration: underline;
}

.text-container {
	margin: 15vh 0;
}

.main-text {
	margin: 5vh 5vh;
}
.footer {
	border-top: 1vh solid black;
	margin: 5vh 5vh;
	text-align: center;
	padding: 5vh;
}
/* .wrap-border {
	
} */
