:root {
  --grad1: #375BD4;
  --grad2: #38DCB8;
  --grad3: #001E3F;
  --grad4: #3A6367;
  --grad5: white;
  --grad6: #005F6E;
  --grad7: #001184;
  --grad8: #00024A;
  --grad9: #4E1506;
  --grad10: #ED00A5;
  --grad11: #58004C;
  --text-gray: #444;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html {
  
}

body {
  background-color: white;
  text-shadow: 1px 1px 5vh rgba(240, 240, 240, 0.8);
  width: 100%;
}

.logo-small, .round-button,
.tab-card, .navbar li {
  transition: all ease 0.5s;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 2vh 5vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  background-color: rgb(10, 10, 10);
  color: white;
  box-shadow: black 1vh 1vh 1vh;
}

.big-text {
  font-size: 4vh;
}

.logo-small {
  height: 0;
  vertical-align: middle;
}

.logo {
  width: 10%;
}

.inlined {
  display: inline;
}

/* inline all elements inside any parent */
.inlined * {
  display: inline;
}

ul.nav-links {
  float: right;
  margin: 0 5vh;
}

ul.nav-links li {
  display: inline;
  margin: 0 2vh 0 0;
  border-radius: 0 0 2vh 0;
  padding: 1.5vh;
}

ul.nav-links li.selected {
  background-color: white;
  color: rgb(10, 10, 10);
}

ul.nav-links li:hover {
  transform: translateY(1vh);
  background-color: crimson;
  box-shadow: rgb(20, 20, 20) 0.5vh 0.5vh 1vh;
  padding: 2vh;
  cursor: pointer;
}

.transparent-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgba(10, 10, 10, 0.4);
  padding: 2vh 0.5vw;
}

.cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
}

#div1 {
  margin: 7vh 0 0 0;
  background-image: url('../img/MainBackground.jpg');
}

.intro-content {
  padding: 20vh 0 40vh 0;
  color: white;
  text-align: center;
  font-weight: bold;
}

.intro-content .main-heading {
  font-size: 4em;
  font-weight: 200;
  padding: 1vh 2vw;
  margin: 2vh 2vw;
  animation: soft-blink 1s 10 ease-out alternate;
  display: block;
  text-decoration: underline;
}

@keyframes soft-blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

#aboutus {
  /* TODO: Implement background image */
  /* background-image: url('../img/background1_right.svg'); */
  background-image: linear-gradient(125deg, var(--grad3), var(--grad4));
}

#technology {
  /* TODO: Implement background image */
  /* background-image: url('../img/background2_left.svg'); */
  background-image: linear-gradient(125deg, var(--grad5), var(--grad5));
}

#technology .round-button {
  color: black;
  border-color: black;
}

#technology .round-button:hover {
  color: white;
  border-color: black;
  background-color: black;
}

#creativity {
  /* TODO: Implement background image */
  /* background-image: url('../img/office.jpg'); */
  /* background-image: url('../img/background1_right.svg'); */
  background-image: linear-gradient(125deg, var(--grad7), var(--grad6));
}

#strategy {
  /* */
  /* TODO: Implement background image */
  /* background-image: url('../img/background2_left.svg'); */
  background-image: linear-gradient(125deg, var(--grad5), var(--grad5));
}

#div6 {
  background-image: linear-gradient(125deg, var(--grad8), var(--grad9));
}

.main-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
}

.main-flex:nth-child(odd) .title {
  /* border-bottom: 3px solid black; */
  color: white !important;
}

.main-flex:nth-child(odd) .text {
  color: #ddd !important;
}

.main-flex:nth-child(even) .text {
  color: var(--text-gray) !important;
}

.main-flex:nth-child(even) .title {
  color: black !important;
}

.main-container {
  padding: 5% 5% 10% 5%;
  width: 100%;
  color: white;
  position: relative;
}

.main-container .title {
  font-size: 5vh;
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
}

.main-container .text {
  margin: 5vh 0;
  font-size: 3vh;
  line-height: 5vh;
  width: 50%;
}

.main-container-logo {
  width: 30%;
  float: right;
  position: absolute;
  top: 10%;
  left: 55%;
}

.show-case {
  width: 100%;
  background-color: red;
}

.abs {
  position: relative;
  top: 10%;
}

.round-button {
  margin: 5vh;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 1vh 2vh;
  border: solid 0.2vh white;
  border-radius: 500px;
}

.round-button:hover {
  transform: translateY(0.5vh);
  box-shadow: rgba(200, 200, 200, 0.2) 1vh 1vh 3vh;
  background-color: white;
  color: black;
}

.vector-image {
  width: 40%;
}

.footer-info {
  margin: 1vh 10vw;
  width: 100%;
  padding: 5vh 5vw;
  color: crimson;
}

.footer-contact {
  float: left;
  border-right: 2px solid white;
  display: inline;
}

.footer-title {
  font-size: 3vh;
  font-weight: bold;
}

/*-----------Social media Icons----------*/

#user-info {
  padding: 0px;
  z-index: 100;
}

.social-icons {
  top: 50%;
  position: sticky;
  z-index: 1;
  width: 80px;
}

.social-icons ul {
  padding: initial;
}

.social-icons ul li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding-left: 12px;
  padding-top: 6px;
  color: #fff;
  background: #000;
}

.social-icons ul li:hover {
  padding-left: 30px;
  width: 80px;
  transition: 1s;
}

#user-info {
  margin-top: -18.7em;
}

/*---------Adding Google Map Style-----------*/

.mapouter iframe {
  width: 100%;
  height: 100%;
}


.mapouter {
  position: relative;
  text-align: right;
  /* height:100%;
	width:100%; */
}

.mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  /* widows: 1900; */
  width: 99.6%;
  margin: 5px;
  border: dotted;
  pointer-events: none;
}

.tab-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: inherit;
  overflow-x: scroll;
  padding: 5vh 4vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  font-size: 2.5vh;
  float: left;
}

.tab-card-container::-webkit-scrollbar {
  display: none;
}


.tab-card {
  position: relative;
  height: 100%;
  min-width: 25vw;
  background-color: rgb(250, 250, 250);
  box-shadow: black 0 0.2vh 5px;
  border-radius: 20px;
  margin: 0 4vw;
  color: white;
  overflow: hidden;
  background-color: black;
  background-position: center;
}

.tab-card:hover {
  transform: translateY(10px);
  box-shadow: black 0 1vh 20px;
}

.card-title {
  font-size: 3.5vh !important;
  margin-bottom: 1vh !important;
}

.card-title:before {
  color: white !important;
  background: white !important;
}

.card-ico {
  font-size: 5vh !important;
}

.card-description {
  font-size: 1.8vh;
}

#web-card {
  background-image: url('https://cdn.pixabay.com/photo/2019/01/30/07/45/web-3963945_960_720.jpg');
}

#mobile-card {
  background-image: url('https://cdn.pixabay.com/photo/2015/05/29/10/32/ux-789160_960_720.jpg');
}

#seo-card {
  background-image: url('https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_960_720.jpg');
}

/* optimizing a bit for mobile devices */
@media only screen and (max-width: 670px) {
  .navbar {
    padding: 2vh 2vw;
  }
  
  .intro-content .main-heading {
    font-size: 1.8em;
    font-weight: 200;
  }
  
  .cover {
    margin: 0 0;
    height: 80vh;
  }

  #div1 {
    height: 100vh;
  }

  .tab-card {
    min-width: 90vw;
  }

  .tab-card-container {
    padding: 5vh 1vw;
  }

  .nav-links {
    display: none;
  }

  .logo {
    width: 30%;
  }

  .vector-image {
    display: none;
  }

  .main-container {
    width: 100%;
    padding: 10% 3vw;
    text-align: center;
  }
  
  .main-container-logo {
  	display: none;
  }
  
  .main-container .text {
  	width: 100%;
  	font-size: 2.4vh;
  }

  .right {
    float: none;
    margin: 0;
  }

  .left {
    float: none;
    margin: 0;
  }
}
